@import url('https://fonts.cdnfonts.com/css/meniertrial');
@import url('https://fonts.cdnfonts.com/css/roboto-mono');
@import url('https://fonts.cdnfonts.com/css/tt-marxiana-trial');
@import url('https://fonts.cdnfonts.com/css/default-sans');

* {
  margin: 0;
  padding: 0;
  font-family: 'Default Sans', sans-serif;
}

body {
  background: rgba(122, 120, 120, 0.8);
}

input {
  display: block;
  padding: 0.3rem;
  background: #acaaa8;
  border: 1px solid rgb(172, 170, 168);
  border-radius: 2px;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 1.2rem;
  font-family: 'Default Sans', sans-serif;
}

header {
  color: black;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'TT Marxiana Trial', sans-serif;
}

ul {
  list-style: none;
}

#intro {
  font-family: 'meniertrial', sans-serif;
  font-weight: 400;
  font-size: 8vw;
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  padding: 2vh 5vw;
  column-gap: 10vw;
}

.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2vw;
}

.fa-ranking-star {
  font-size: 4vw;
  vertical-align: middle;
  margin-left: 1.5rem;
}

.submit {
  align-self: flex-end;
}

.refresh,
.submit {
  font-size: 3vw;
  cursor: pointer;
  background: #acaaa8;
  padding: 0.4rem;
  border: 1px solid white;
}

.recent-scores {
  width: 40vw;
}

.add-score {
  width: 30vw;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
}

.scores {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 2px;
  max-height: 60vh;
  scrollbar-width: thin;
  overflow-y: scroll;
}

.scores li {
  padding: 0.4rem;
  font-family: 'Roboto Mono', sans-serif;
}

.scores li:nth-child(even) {
  background-color: rgb(189, 189, 189);
}

@media screen and (min-width: 768px) {
  .refresh,
  .submit {
    font-size: 1rem;
  }

  input {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2rem;
  }
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(224, 215, 215);
border-radius: 4px;
}